#gameScreen{
    border: 1px solid black;
    height: 90vh;
            }
img{
    display: none;
            }

@font-face {
    src: url("/static/assets/bit_font.TTF");
    font-family: bit_font;
}

@font-face {
    src: url("/static/assets/BLOODY.ttf");
    font-family: vamp;
}

nav {
    font-family: bit_font, serif;

}

#gameBackground{
    text-align: center;
}

#vamp {
    font-family: vamp;
    font-size: 150%;
}

    /*#pictureCanvas {*/
    /*  position: relative;*/
    /*}*/

    /*#newGame {*/
    /*  position: absolute;*/
    /*  top: 666px;*/
    /*  left: 706px;*/
    /*}*/

